.address {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
}
.address__form {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 20rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.address__nav__btn {
    padding-top: 1rem;
    padding-left: 1rem;
}
.address__container {
    width: 100%;
    max-width: 650px;
    margin: auto;
    padding-bottom: 0.5rem;
}

.address__btn {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
}
.address__content div {
    font-weight: bold;
}
.address__content > p {
    color: gray;
}
