/* .cart__main {
    width: 50%;
} */
.images img {
    width: 100%;
    max-width: 15vw;
    padding-right: 1rem;
    /* height: 100%; */
    max-height: 20vh;
}
.Cart {
    display: flex;
    justify-content: center;
    margin: 5rem 1rem;
}

.product {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 15px;
    /* background: #e0e0e0; */
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
}
.product__wrapper {
    display: flex;
}
.product__details {
    flex: 1;
}
.close {
    display: flex;
    background-color: transparent;
    border: none;
    font-size: larger;
    cursor: pointer;
    color: red;
}
.product__btn {
    display: flex;
    align-items: center;

    flex-wrap: wrap;
    justify-content: flex-start;
}
.price__details {
    border-radius: 15px;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
    width: 100%;
    height: 100%;
    margin: 0 1rem;
    max-width: 340px;
}
h1 {
    text-align: center;
}
.icon__btn {
    margin-right: 1rem;
}
.card__btn__cart {
    margin-top: 0;
}
/* .card__btn__wishlist {
    position: relative;
    bottom: 70%;
} */
.hide__product__details {
    display: none;
}
/* @media (max-width: 900px) {
    .cart__main {
        width: 50%;
    }
    .images img {
        max-width: 10vw;
    }
} */
@media (max-width: 700px) {
    .Cart {
        /* display: block; */
        flex-wrap: wrap;
        margin: 0;
        padding: 0 1rem;
    }
    .product {
        margin: auto;
        display: flex;
        margin-bottom: 1rem;
    }
    .product__wrapper {
        width: 100%;
    }
    .images {
        width: 50%;
    }
    .images img {
        min-width: 100%;
        /* height: 100%; */
        max-height: 100vh;
    }
    .product__details {
        width: 50%;
    }
    h2 {
        font-size: small;
    }
    .price__details {
        width: 85%;
        margin: auto;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    ul {
        margin-top: 1rem;
    }
    .product__btn {
        flex-wrap: wrap;
    }

    .cart__main {
        /* max-width: 50%; */
        margin: auto;
    }
}
