@import url('https://pro.fontawesome.com/releases/v5.15.2/css/all.css');
@import url('https://metal-ui.netlify.app/components/components.css');
.main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  grid-auto-rows: minmax(100px, auto);
  grid-gap: 2rem;
  grid-template-areas:
    'main main main'
    'main main main'
    'main main main'
    'main main main'
    'main main main';
}
.main {
  grid-area: main;
}
.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 1080px;
  margin-left: 4rem;
}
.container button {
  cursor: pointer;
}
.product__wishlist {
  position: relative;
  left: 18rem;
  bottom: 3rem;
  border-radius: 50%;
  font-size: x-large;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.filters {
  min-width: 250px;

  margin: 1.5rem 1rem;
}
fieldset {
  height: 50vh;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
h1 {
  margin: 1rem 0;
  text-align: center;
}
input {
  margin: 0.5rem 0.5rem;
}
.fa-shopping-cart:before {
  margin-right: 4px;
}
.card__border {
  padding: 0;
  height: 90%;
}
img {
  margin-bottom: 1rem;
}
.card__rating {
  padding-left: 1rem;
}
.card__body {
  padding: 1rem;
}
.card__btn {
  margin-left: 1rem;
}
