@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
}
body {
    font-family: "Roboto Condensed", sans-serif;
    width: 100%;
}

.hamnav {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: black;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: bold;
    margin-bottom: 1rem;
    position: sticky;
    top: 0;
    z-index: 1;
}
.hamitems {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
.hamitems a {
    padding: 1rem;

    text-decoration: none;
}
.hamitems a:hover {
    background: #a02620;

    border-radius: 1px;
}
.hamnav label,
#hamburger {
    display: none;
}
.icons {
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo {
    padding: 2rem 0;
}

.searchbar {
    padding: 0.5rem 0;
}
.searchbar input {
    padding: 0.5rem 1rem;
    width: 20vw;
}
.mobile__menu {
    display: none;
}
@media (max-width: 800px) {
    .hamitems a {
        padding-right: 0.5rem;
    }
}
@media screen and (max-width: 700px) {
    .menu li {
        list-style: none;
    }
    .logo {
        text-decoration: none;
        color: black;
    }
    .header,
    .hamnav {
        display: none;
    }
    .m__menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .mobile__menu {
        display: flex;
        padding: 0 1rem;
        flex-direction: column;
        background-color: white;
        z-index: 1;
        position: sticky;
        top: 0;
    }
    .open__menu {
        background-color: transparent;
        border: none;
    }
    .menu__drawer {
        background-color: var(--color-background-2);
        padding: 0 2rem;
        position: absolute;
        top: 4rem;
        left: 0;

        max-height: 0px;
        width: 100%;
        overflow: hidden;
        z-index: 1;
    }

    .menu__drawer li {
        width: 100%;
        text-align: center;
    }

    .menu__link {
        display: flex;
        width: 100%;
        padding: 1rem 0.5rem;
        text-decoration: none;
        color: black;
    }
    .menu__link:hover {
        background-color: red;
    }
    .menu__drawer__active {
        max-height: 500px;
        opacity: 1;
    }
    .searchbar input {
        width: 100%;
    }
}

.scroll-to-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: 4rem;
    height: 4rem;
    animation: fadeIn 700ms ease-in-out 1s both;
    cursor: pointer;
}
.scroll-to-top i {
    position: relative;
    padding: 1rem;
    left: 1rem;
    top: 1rem;
    font-size: 1rem;
    color: white;
    background-color: #b91c1c;
    border-radius: 50%;
}
.Toastify__toast--success {
    background-color: #38a169 !important;
}
.Toastify__toast--error {
    background-color: #e53e3e !important;
}
.Toastify__toast-container,
.Toastify__toast-container--bottom-center {
    width: 16rem !important;
}
/* ProductDetails */

.single__product__details {
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.single__product__image {
    border-radius: 5px;
    width: 22rem;
    height: 31rem;
    position: sticky;
    top: 6rem;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
}
.single__product__info {
    width: 25rem;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.single__product__name {
    font-size: 1.5rem;
}
.price {
    font-size: 2rem;
    padding: 1rem 0;
}
.specifications {
    border: 2px solid #f0f0f0;
    margin-bottom: 2rem;
}
.specs {
    padding: 1rem 1rem;
}
.reviews {
    border: 2px solid #f0f0f0;
    padding: 1.5rem 1rem;
}
.offers {
    border: 2px solid #f0f0f0;
    margin-bottom: 2rem;
}
.warranty {
    border: 2px solid #f0f0f0;
    margin-bottom: 2rem;
}
.seller {
    border: 2px solid #f0f0f0;
    margin-bottom: 2rem;
}
@media (max-width: 648px) {
    .single__product__details {
        flex-direction: column;
        margin-bottom: 1rem;
        margin-top: 0;
        height: 100%;
        gap: 0;
        padding: 1rem;
    }
    .single__product__image {
        margin-left: 0;
        margin-bottom: 2rem;
        position: static;
    }
    .single__product__info {
        width: 100%;
        height: 100%;
    }
}
